<div id="shitItDiv">
<%= form_tag({:action => :shit_it}, :remote => true) do %>
    <%=autocomplete_field_tag 'name', '', main_autocomplete_shit_name_path, :class => "whatIsShit" %>
		<%= submit_tag "Говно", :class => 'submitShit' %>
  <% end %> 
  <br /> 
  <p class="notice"><%= flash[:notice] %></p>
</div>

