<div id="shitItDiv">
<%= form_tag({:action => :shit_it}, :remote => true) do %>
    <%= autocomplete_field_tag 'autocomplete_synonym', '', synonyms_autocomplete_synonym_name_path, 
:update_elements => {:shit_id => '#id'}, :class => "whatIsShit" %>
	<%= hidden_field_tag 'id' %>
	
	<%= submit_tag t(:shit), :class => 'submitShit',:disabled=>true %>
<% end %>
 
  <br /> 
  <p class="notice">
    <span class="notice_shit_name"></span>
    <span class="notice_officially_shit1"></span>
    <span class="notice_shit_total"></span>
    <span class="notice_officially_shit2"></span>
  </p>
  

  <script type='text/javascript'>
    $('#autocomplete_synonym').bind('railsAutocomplete.select', function(event, data){
     $('.submitShit').attr('disabled',false);
	});
  </script>

</div>

