<div id="shitItDiv">
  <%= form_tag :action => "shit", :remote => true do %>
    <%= text_field_tag('name', '', :class => "whatIsShit") %>
		<%= submit_tag "Говно", :action => "shit", :class => 'submitShit', :remote => true %>
  <% end %> 
  <br /> 
  <p class="notice"><%= flash[:notice] %></p>
</div>

