<h1>10 самых говенных говн:</h1>

<table width="50%" border="solid" >
  <tr>
    <th>Название</th>
    <th>Счетчик</th>
    <th>Заговнить еще!</th>
  </tr>
<% @topshits.each do |shit| %>
 
  <tr cols='2'>
      <th><%= shit.name.mb_chars.capitalize %></th>
      <th><%= shit.total %></th>
      <th><%= link_to image_tag("turd.jpg", :border=>0), :controller => "main", :action => 'shit_by_id', :remote => true, :id => shit.id %></th>
  </tr>

 
<% end %>
</table>

<br />


