<h1>10 самых говенных говн:</h1>

<table width="50%" border="solid" >
  <tr>
    <th>Название</th>
    <th>Счетчик</th>
    <th></th>
  </tr>
<% @topshit.each do |shit| %>
 
  <tr cols='2'>
      <th><%= shit.name.mb_chars.capitalize %></th>
      <th><%= shit.total %></th>
      <th><%= link_to 'Заговнить ещё больше', :controller => "main", :action => "shit", :name => shit.name %></th>
  </tr>

 
<% end %>
</table>

<br />


