#edit-shit-div {
  width: 300px;
}

#shits-list {
  table {
    text-align: center;
    width: 100%;
  }
  
  h1 {
    text-align: center;
  }
}

#shit-edit {
  table {
    width: 100%;
  }
}

.hideable-images-td {
  width: 70px;
  img {
    float: left;
  }
}