h1 {
	color: #2A302D;
	font-family: TeXGyre, Georgia, serif;
	line-height: 1em;
	margin: 20px;
	text-shadow: 1px 1px 1px gray;
	text-transform: none;
	font-size: 25pt;
}

form {
	margin-top: 50px;
}

ul#main_actions {list-style-type:none; width: 100%;  }
ul#main_actions li {float: left; margin-left: 20px;}

#whatIsShit {
	font-size: 18pt;
	color: brown;
  margin-top:100px;
}

#submitShit {
	font-size: 18pt;
	color: black;
}

#contentDiv {
	margin-top: 10px;
}