body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  width: 925px;
}

div {
  display: block;
}

.notice {
  color: green;
}

ul.horizontal {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mainDiv #shitItDiv {
  width: 415px;
  margin-left: auto;
  margin-right: auto;
}

#navigationDiv .navigation li {
  padding-left: 25px;
  font-size: 14px;
  color: #BBB;
}

ul.horizontal li {
  margin: 0;
  padding: 0;
  float: left;
}

#mainDiv {
  padding-top: 15px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  font-weight:bold;
  color: white;
}

#navigationDiv {
  position: relative;
  padding: 8px 8px 13px 0px;
  border-top: solid 1px white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#996633));
  background: -moz-linear-gradient(top, #FFCC00, #996633);
  border-bottom: solid 3px #DE9F00;
  margin-bottom: 15px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#lang {position: absolute; top:10px; right:10px; font-size: 0.8em;}
#lang a {color: #000;}

#navigationDiv .navigation {
  float: left;
  padding-top: 2px;
}

#navigationDiv .navigation li a {
  color: white;
  text-decoration: none;
}

#navigationFiller {
  height: 15px;
  width: 0px;
}

a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

#footerDiv {
  clear: both;
  font-size: 11px;
  text-align: center;
  padding: 25px 0;
  color: #555;
}


h1 {
	color: #2A302D;
	font-family: Arial, sans-serif;
	text-transform: none;
	font-size: 25pt;
}

form {
	margin-top: 50px;
}



.whatIsShit {
	font-family: TeXGyre, Georgia, serif;
  font-size: 20pt;
  width: 300px;
}

.submitShit {
	font-family: TeXGyre, Georgia, serif;
  font-size: 20pt;
  padding: 2px 10px 2px 10px;
}

#contentDiv {
	margin-top: 10px;
}

.descriptionDiv {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 20px;
  background-color: #AD686D;
}

.descriptionTextField {
  height: 100px;
}

.top_table {width:50%; text-align: right; padding:0; border-collapse: collapse;}
td, th { padding:5px 20px; margin:0;}

.top_table .shit_it_cell {text-align: left; padding-left:20px;}