#synonyms-list {
  h1 {
    padding: 15px 0;
    text-align: center;
  }
  
  table {
    text-align: center;
    width: 100%;
  }
}

.hideable-images-td {
  width: 70px;
  img {
    float: left;
  }
}


#synonym-from-concept-div {
  padding: 5px;
  border: solid 1px black;
  border-radius: 6px;
  width: 216px;
  text-align: left;
  
  p {
    margin: 5px 0;
  }
  
  * {
    margin: 0px;
  }
  
  .synonym-name {
    margin-bottom: 5px;
  }
  
  #notice {
    color: green;
  }
}