<div id="shit-info-div">
  <dl>
    <dt>Название</dt>
    <dd><%= name_with_synonyms(@shit) %> </dd>
    <dt>Заговнен</dt>
    <dd><%= @shit.total %></dd>
    <dt>Описание</dt>
    <dd><%= @shit.description %></dd>
    <dt>Категории</dt>
    <dd>пока нет :(</dd>
    <dt>Изображение</dt>
    <dd><%= image_tag @shit.photo.url() %></dd>
  </dl>
</div>